{% extends "base.html" %}
 {% block title %}
        Manage Users
        {% endblock %}
{% block nav %}
<nav class="navbar navbar-expand-lg bg-body-tertiary navbar1">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">PSM    </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav gap-3 d-flex align-items-center pe-3">
            <a class="nav-link active links" aria-current="page" href="#">Dashboard</a>
            <a class="nav-link text-nowrap" href="{{url_for('manage_slots')}}">Manage slots</a>
            <a class="nav-link text-nowrap" href="#">view Bookings</a>
            <a class="nav-link" href="{{url_for('manage_users')}}">Users</a>
            <a class="nav-link" href="#">Staff</a>
            <a class="nav-link" href="#">Reports</a>
            <i class="fa-solid fa-user fa-2xl fa-width-auto" style="color: rgb(92, 91, 101);"></i><b>{{user['name']}}</b>
            







        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="admin-hero">
    <div class="d-flex justify-content-between">
        <div >
            <p class="welcome">View <span class="text-warning">Parking Bookings<span class="welcome">!</span> </span></p>
            <p class="text-white ">Track and manage all parking Bookings</p>
            <p class="text-white ">View entry and exit details,vehicle info.</p>
           
        </div>
        <div class="">
            <h3 class="text-white">PARK SMART</h3>
            <h3 class="text-white">PARK BETTER</h3>
            <h3 class="text-white">WITH PSM</h3>
            <hr class="hr1">
        </div>
    </div>
</div>
<div class="d-flex  flex-column align-items-center justify-content-center p-5 user-re">
        <table class="table table-striped   delete-tab">
            <tr>
                <th>ID</th>
                <th>User ID</th>
                <th>Vehicle ID</th>
                <th>Slot ID</th>
                <th>Ststus</th>
                <th>Actions</th>
            </tr>
            {% for i in result %}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.user_id}}</td>
                <td>{{i.vehicle_id}}</td>
                <td>{{i.slot_id}}</td>
                <td>{{i.status}}</td>
                <td>
                   <a href="{{url_for('view_booking_details',id=i.id)}}"><button class="btn btn-warning">View More </button></a>
                    
                </td>
            </tr>
            {% endfor %}
            
        </table>
        
    </div>

{% endblock %}