{% extends "base.html" %}
 {% block title %}
        User Profile
        {% endblock %}
{% block nav %}
<nav class="navbar navbar-expand-lg bg-body-tertiary navbar1">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">PSM    </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav gap-3 d-flex align-items-center pe-3">
            <a class="nav-link active links" aria-current="page" href="{{url_for('user_dashboard')}}">Dashboard</a>
            <a class="nav-link active links text-nowrap" aria-current="page" href="{{url_for('register_vehicle')}}">Register a Vehicle</a>
            <a class="nav-link text-nowrap" href="{{url_for('user_vehicle_entry')}}">Book a slot</a>
            <a class="nav-link text-nowrap" href="{{url_for('my_bookings')}}">My Bookings</a>
           
            
            
            <div class="dropdown ">
  <button class="btn dropdown-toggle   d-flex align-items-center justify-content-center gap-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fa-solid fa-user fa-2xl fa-width-auto profile-icon" style="color: rgb(1, 0, 8);"></i><span class="text-nowrap  text-black">{{user['name']}}</span>
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{{url_for('profile')}}"><i class="fa-solid fa-circle-user fa-lg" style="color: rgb(2, 12, 26);"></i> Profile</a></li>
    <li><a class="dropdown-item" href="{{url_for('logout')}}"><i class="fa-solid fa-arrow-right-from-bracket fa-lg" style="color: rgb(2, 12, 26);"></i>Logout</a></li>
    
  </ul>
</div>
            


        </div>
    </div>
</nav>
{% endblock %}
{% block content %}
<div class="admin-hero">
    <div class="d-flex justify-content-between">
        <div >
            <p class="welcome">My <span class="text-warning">Profile<span class="welcome">!</span> </span></p>
            <p class="text-white ">Manage your account details,registered vehicles </p>
            <p class="text-white ">and account preferences here</p>
            
        </div>
        <div class="">
            <h3 class="text-white">PARK SMART</h3>
            <h3 class="text-white">PARK BETTER</h3>
            <h3 class="text-white">WITH PSM</h3>
            <hr class="hr1">
        </div>
    </div>
</div>
<div>
    <div class="d-flex align-items-center justify-content-center flex-column ">
        <div class="prof-back">
            <div class="back-col">
            <i class="fa-solid fa-circle-user fa-2xl font-siz" style="color: rgb(11, 77, 200);"></i>
            <b>{{user.name}}</b>
            <p>{{user.role}}</p>
        </div>
        <div class="d-flex flex-column gap-4 align-items-center justify-content-center">
            <div class="d-flex gap-4 align-items-center justify-content-center">
                <div><i class="fa-solid fa-envelope fa-2xl envolop" style="color: rgb(11, 77, 200);"></i></div>
                <div class="d-flex flex-column">
                    <b class="">Email</b>
                    <i>{{user.email}}</i>
                </div>
            </div>
            <div class="d-flex gap-4 align-items-center justify-content-center">
                <div><i class="fa-solid fa-phone fa-2xl ev2" style="color: rgb(24, 251, 5);"></i></div>
                <div class="d-flex flex-column">
                    <b class="">Phone</b>
                    <i>+91 {{user.phone}}
                    </i>
                </div>
            </div>
            <div class="d-flex gap-4 align-items-center justify-content-center">
                <div><i class="fa-solid fa-calendar-days fa-2xl ev3" style="color: rgb(251, 5, 93);"></i></div>
                <div class="d-flex flex-column">
                    <b class="">Member Since</b>
                    <i>{{user.created_at.day}}-{{user.created_at.month}}-{{user.created_at.year}}</i>
                </div>
            </div>
            <a href="#"><button class="btn btn-danger logout"><i class="fa-solid fa-right-from-bracket fa-sm" style="color: rgb(255, 255, 255);"></i> Logout</button></a>
            <button onclick="window.history.back()" class="btn btn-secondary">← Back</button>
        </div>
        </div>
    </div>
</div>
{% endblock %}